.projectFormWrapper {
    display: grid;
    grid-template-areas:
      "title"
      "form"
  
  
  }
  
  .title {
    grid-area: title;
    text-align: center;
    padding-block-start: 15px;
    padding-block-end: 15px;
  }
  
  .form {
    padding-inline-start: 20px;
    grid-area: form;
    justify-items: start;
    display: grid;
    grid-template-columns: 250px 400px 1fr;
    grid-template-areas:
      "project project project"
      "building building building"
      "submit submit submit"
  }
  
  .project {
    grid-area: project;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-block-end: 15px;
  }
  
  .building {
    padding-block-end: 15px;
    margin-block-end: 15px;
    grid-template-columns: 250px 250px max-content;
    border-top: 1px solid rgb(230, 221, 221);
    border-bottom: 1px solid rgb(230, 221, 221);
    grid-area: building;
    display: grid;
    grid-template-areas:
      "title title title"
      "buildingCol1 buildingCol2 buildingView"
      "submitBuilding submitBuilding submitBuilding"
  } 
  
  .building .title {
    grid-area: title;
    display: flex;
  }
  
  .buildingCol1 {
    padding-inline-end: 15px;
    padding-block-start: 15px;
    grid-area: buildingCol1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .buildingCol2 {
    padding-block-start: 15px;
    grid-area: buildingCol2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .buildingCol2 .textBox {
    width: 300px;
  }
  
  
  .checkBoxs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  
  .textBox {
    margin-block-end: 15px !important;
    min-width: 250px !important;
    width: max-content;
  }
  
  .SubmitBuilding {
    grid-area: submitBuilding;
  }
  
  .submitProject {   
    grid-area: submit;
    width: 100%;
  }
  .button {
    width: 120px;
    margin-inline-end: 10px !important;
  }