.building { 
  padding: 15px;
  grid-template-columns: min-content 300px 1fr;
  border-top: 1px solid rgb(230, 221, 221);
  border-bottom: 1px solid rgb(230, 221, 221);
  display: grid;
  grid-template-areas:
    "title title title"
    "buildingCol1 buildingCol2 buildingView"
    "submitBuilding submitBuilding buildingView"
}

.building .title {
  grid-area: title;
  display: flex;
}

.buildingCol1 {
  margin-inline-end: 15px; 
  padding-block-start: 15px;
  grid-area: buildingCol1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.buildingCol2 {
  padding-block-start: 15px;
  grid-area: buildingCol2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}




.checkBoxs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


.textBox {
  margin-block-end: 15px !important;
  min-width: 250px !important;
  width: max-content;
}

.SubmitBuilding {
  grid-area: submitBuilding;
}



.button {
  width: 120px;
  margin-inline-end: 10px !important;
}

.BuildingType {
  padding: 10px;
  border-radius: 4px;
  min-height: 173px;
  width: 100%;
  font-size: 18px;
  grid-area: buildingCol2;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

}
.lblType {
  display: block;
  color: #00000099;
  font-weight: 400;
  margin-block-end: 5px;
}

.buildingView {
  grid-area: buildingView;
}